.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: red;
}

.maintitle{
    border: solid 1px red;
    border-radius: 3%;
    background-color: #FFFFF6;
    padding: 0.5cm 1cm 0.5cm 1cm;
}

.title{
    display: flex;
    justify-content: center;
}

.data{
    display: flex;
    align-items: center;
}

.newtable{
    margin-top: 1cm;
    border: solid 1px red;
    border-radius: 1%;
    background-color: #FFFFF6;
}

